Babel==2.5.3
certificate==2018.1.18
dj-database-url==0.5.0
Django==2.2.21
django-hosts==3.0
django-markdown==0.8.4
django-phonenumber-field==2.0.0
django-polls==0.1
Faker==0.8.12
gunicorn==19.7.1
Markdown==2.6.11
phonenumberslite==8.9.2
Pillow==5.0.0
pipfile==0.0.2
psycopg2==2.7.4
python-dateutil==2.7.0
python-decouple==3.1
pytz==2018.3
six==1.11.0
text-unidecode==1.2
toml==0.9.4
whitenoise==3.3.1
wincertstore==0.2
